* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

header {
    background-color: rgb(17, 17, 17);
    display: block;
    padding: 12px 5px;
    text-align: center;
    color: aquamarine;
}

nav {
    background-color: rgb(17, 17, 17);
    display: flex;
    padding: 5px 22px;
    justify-content: space-evenly;
}

nav > a {
    color: aquamarine;
    text-decoration: none;
    font-size: larger;
    font-weight: 800;
}

main {
    padding: 2% 12%;
    margin: 15px auto;
    border: 5px solid transparent;
    width: 80%;
}

main h1 h2 h3 {
    display: flex;
    align-items: center;
}

main > p {
    padding-bottom: 3%;
}

main img {
    width: 100%;
}

.video {
    background-color: black;
    padding:30%;
    padding-bottom: 30px;
    margin: 20px 20px 30px 20px;
    position: relative;
}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height:90%;
}

footer {
    background-color: black;
    padding: 8px;
    margin: auto;
    text-align: center;
    color: white;
}
